// Fonts
$font-family--base: 'Mulish', sans-serif;
$font-family--heading: 'Raleway', sans-serif;
$font-family--accent: 'Raleway', sans-serif;

$font-size--large-3: 1.5rem; // 24px
$font-size--large-2: 1.25rem;  // 20px
$font-size--large-1: 1.1875rem; // 19px
$font-size--base: 1.125rem; // 18px
$font-size--small-1: 1rem; // 16px
$font-size--small-2: 0.875rem; // 14px
$font-size--small-3: 0.8125rem; // 13px
$font-size--small-4: 0.75rem; // 12px

$font-size--h1: 3.5rem;
$font-size--h1--small: 2rem;
$font-size--h2: 2.25rem;
$font-size--h2--small: 1.375rem;
$font-size--h3: 1.625rem;
$font-size--h3--small: 1.125rem;
$font-size--h4: 1.375rem;
$font-size--h4--small: 1rem;
$font-size--h5: 1rem;

$letter-spacing--medium: 0.05em;
$letter-spacing--wide: 0.08em;

$line-height--heading: 1.6;
$line-height--base: 1.75;
$line-height--narrow: 1.4;

// Borders
$border-width: 4px;

$default-border-color: black;
$default-border-style: solid;
$default-border-width: 4px;
