.button {
  @include button-base;
  @include transition(transform opacity, 0.5s, cubic-bezier(0.19, 1, 0.22, 1));

  text-decoration: none;
  cursor: pointer;
  position: relative;

  &:hover {
    box-shadow: 0 5px 6px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  }

  &:focus {
    outline-offset: 3px;
  }

  a {
    position: absolute;
    transition: none;
    box-shadow: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &:hover {
      box-shadow: none;
      color: color(text-inverse);
    }
  }

  .icon {
    @include transition(transform);

    &--before {
      margin-right: space();
    }
  }

  &--small {
    @include button-small;
  }

  &--inverse {
    background: color(background-section-dark);
    color: color(text);
    border-width: 1px;
    &:hover {
      color: color(text);
    }
  }

  &--minimal {
    background-color: transparent;
    color: color(text);
    text-decoration: underline;
    border: 0.063rem solid black;
    padding: space(0.5);

    &:hover,
    &:focus {
      background-color: transparent;
      color: color(text);
      border-color: black;
      box-shadow: 0 0 2px color(text);
    }
  }

  // Hide submit input if it comes after closed details element
  .details-summary:not([open]) ~ & {
    @extend .visually-hidden;

    opacity: 0;
  }
}
