.accordion {
  margin-bottom: var(--space-elements);
}

.accordion-item {
  border: 1px solid color(border-box);
  margin-bottom: space(1/2);

  &__heading {
    @include bold-highlight;

    display: flex;
    align-items: center;
    margin: 0;
    padding: space();
    font-size: $font-size--small-1;
    background: color(background-box);

    &::marker {
      display: none;
    }
  }

  &__icon {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    margin-right: space();
    background-image: data-url($image-inline--svg-collapse-open, svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__content {
    padding: space();
    .text-long {
      margin-bottom: 0;
    }
  }

  &[open] {
    .accordion-item__heading {
      background: color(background-section);
    }

    .accordion-item__icon {
      background-image: data-url($image-inline--svg-collapse-close, svg);
    }
  }
}
