.breadcrumb {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: space(1.5);

  &__item,
  &__link {
    font-weight: bold;
    line-height: $line-height--small;
    font-size: $font-size--small-2;
    letter-spacing: $letter-spacing--large;
    color: color(text);

    @include above($width-medium) {
      font-size: $font-size--base;
      letter-spacing: $letter-spacing--large;
    }
  }

  &__item {
    display: inline-flex;
    align-items: center;

    .fontawesome-icon {
      width: 1.25em;
      height: 1.25em;
    }

    &:not(:last-child)::after {
      color: color(background-section-dark);
      content: '/';
      margin: 0 0.75rem;
    }
  }

  &__link {
    box-shadow: none;

    &--home {
      line-height: 1;

      //&:hover {
      //  box-shadow: none;
      //  color: black;
      //}
    }
  }
}
