$color-breadcrumb: color(primary);
$color-breadcrumb-hover: color(text-inverse);
$color-breadcrumb-active: color(text);

.breadcrumb {
  @include list-reset;

  padding: 1rem 2rem;
}

.breadcrumb__link {
  box-shadow: none;
}

.breadcrumb__item,
.breadcrumb__link,
.breadcrumb__link:link,
.breadcrumb__link:visited,
.breadcrumb__link:focus {
  color: $color-breadcrumb;
  font-weight: bold;
  letter-spacing: $letter-spacing--large;
  line-height: $line-height--small;
  font-size: $font-size--small-2;
  @include above($width-medium) {
    letter-spacing: $letter-spacing--large;
    font-size: $font-size--base;
  }
}

.breadcrumb__link:hover {
  color: $color-breadcrumb-hover;
}

.breadcrumb__item {
  display: inline-block;

  &::after {
    color: color(background-section-dark);
    content: '/';
    margin: 0 0.75rem;
  }

  &:last-child {
    color: $color-breadcrumb-active;

    &::after {
      content: '';
    }
  }
}

.breadcrumb_link:active {
  color: $color-breadcrumb-active;
}
.breadcrumb__link--Home {
  &:hover {
    box-shadow: none;
    color: black;
  }
}
