.breadcrumb {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: space(1.5);

  &__item,
  &__link {
    font-weight: bold;
    line-height: $line-height--small;
    font-size: $font-size--small-2;
    letter-spacing: $letter-spacing--large;
    color: color(text);
    text-decoration: underline;

    &:last-child {
      text-decoration: none;
    }

    @include above($width-medium) {
      font-size: $font-size--base;
      letter-spacing: $letter-spacing--large;
    }
  }

  &__item {
    display: inline-flex;
    align-items: center;

    svg {
      margin: 0 space(0.75);
    }

    &:last-child svg {
      display: none;
    }
  }

  &__link {
    box-shadow: none;

    &--home {
      line-height: 1;
    }
  }
}
