.header-overlay {
  .menu-switcher {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .menu-main {
    grid-column: 1 / 3;

    &[aria-hidden='true'] {
      display: none;
    }
  }

  .menu-extra,
  .language-switcher,
  &__focus {
    display: none;
  }

  .menu-extra {
    grid-column: 1 / 3;
    padding: space(3/2);

    @include above($width-large) {
      grid-row-start: 1;
      grid-column-start: 2;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: space(3);
      padding: space() 0;
    }
  }

  .language-switcher {
    grid-column: 1 / 3;
    padding: space(3/2);
    border-top: 1px solid color(border-box-dark);
  }

  &__backdrop {
    position: relative;
  }

  // The overlay's expanded state.
  [data-header-overlay-expanded='true'] & {
    .menu-switcher {
      justify-self: start;

      @include below($width-large) {
        margin-left: space(3/2);
      }

      @include above($width-large) {
        margin-bottom: space(3);
      }
    }

    .menu-extra {
      display: flex;

      @include below($width-large) {
        display: block;
      }
    }

    &__focus {
      display: block;
    }

    .language-switcher {
      @include below($width-large) {
        display: flex;
      }
    }

    &__dialog {
      display: grid;
      grid-template-columns: auto;
      width: $width--page;
      max-width: 100%;
      position: relative;
      transform: translateX(-50%);
      top: 4.4rem;
      left: 50%;
      z-index: z-index(top, +1);
      overflow: hidden;
    }

    &__backdrop {
      overflow-y: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      z-index: z-index(top);
      background: color(background);

      @include above($width-large) {
        padding: 0 space(3/2);
      }
    }
  }

  // The overlay's expanded state when the header is in compact mode.
  [data-header-overlay-expanded='true'] .header__main--compact & {
    &__dialog {
      top: 0.55rem;
    }
  }

  // Drupal's toolbar is open and dynamically adds extra padding to the body. Make a
  // best effort attempt to work around that.
  .toolbar-fixed[data-header-overlay-expanded='true'] & {
    &__backdrop {
      // Don't try to compensate for the toolbar on small and tiny viewports. Drupal's toolbar
      // changes layout a lot on small viewports and it requires a script to properly calculate
      // the needed offset.
      //padding-top: 39px;

      @include above(68rem) {
        padding-top: 79px;
      }
    }
  }
}
