{#
/**
 * Available variables:
 * - liftup_columns__base_class - the base class name
 * - liftup_columns__modifiers - array of modifiers to add to the base classname
 * - liftup_columns__heading - liftup heading
 * - liftup_columns__heading__level - liftup heading level
 * - liftup_columns__teaser - liftup teaser
 * - liftup_columns__image - liftup image
 * - liftup_columns__link - liftup link url
 * - liftup_columns__link__text - liftup link text
 *
 * Available blocks:
 * - liftup_columns_image - used to replace the content of the liftup image
#}

{% set liftup_columns__base_class = 'liftup-columns' %}
{% set liftup_columns__modifiers = liftup_columns__modifiers|default(['main']) %}

<div {{ bem(liftup_columns__base_class, liftup_columns__modifiers) }}>
  {% include '@atoms/text/heading/heading.twig' with {
    heading: liftup_columns__heading,
    heading__level: liftup_columns__heading__level|default(2)
  } %}

  <div {{ bem('content', [], liftup_columns__base_class) }}>
    {% if liftup_columns__teaser|render|striptags|trim is not empty %}
      {% include '@atoms/text/text-long/text-long.twig' with {
        text_long__content: liftup_columns__teaser
      } %}
    {% endif %}

    {% if liftup_columns__link %}
      {% include '@atoms/links/link/link.twig' with {
        link__modifiers: ['action'],
        link__url: liftup_columns__link,
        link__content: liftup_columns__link__text
      } %}
    {% endif %}
  </div>

  <div {{ bem('image', [], liftup_columns__base_class) }} aria-hidden="true">
    {% block liftup_columns_image %}
      {% if liftup_columns__image %}
        {% include "@atoms/images/image/image.twig" with {
          image_src: liftup_columns__image,
        } %}
      {% endif %}
    {% endblock %}
  </div>
</div>
