.card__image {
  position: relative;
  height: 200px;
  width: 312px;
  border-radius: 18px 18px 0 0;
  background-color: rgba(255,255,255,0);
  object-fit: cover;
}
.card {
  border-radius: 16px;
  background-color: #FBF3ED;
  width: 312px;
  ul {
    padding: 0;
  }
  li {
    &::marker {
      content: "";
    }
  }
}
.card__heading.card__heading--h3 {
  font-size: $font-size--large-2;
}
.card__item {
  display: flex;
  font-size: $font-size--small-2;
  letter-spacing: 0.25px;
  line-height: 24px;
  .icon {
    position: relative;
    top: 4px;
    margin-right: 12px;
  }
}
.card__link {
  font-size: $font-size--small-2;
  letter-spacing: 0.25px;
  line-height: 24px;
  .icon {
    margin-right: 16px;
  }
}
.card__item_content {
  padding: 24px;
}
