.card__image {
  position: relative;
  border-radius: 18px 18px 0 0;
  background-color: rgba(255,255,255,0);
  object-fit: cover;
}
.card {
  border-radius: 16px;
  background: color(background-section);
  width: auto;
  max-width: 400px;

  ul {
    padding: 0;
  }
  li {
    &::marker {
      content: "";
    }
  }
}
.card__heading {
  font-size: $font-size--large-2;
}
.card__item {
  display: flex;
  font-size: $font-size--small-2;
  letter-spacing: 0.25px;
  line-height: $line-height--narrow;
  margin-bottom: 4px;
  .icon {
    position: relative;
    top: 2px;
    margin-right: 12px;
  }
}
.card__link {
  font-size: $font-size--small-2;
  .icon {
    margin-right: space(1);
  }
  .link {
    font-weight: bold;
    letter-spacing: 0.19px;
    line-height: $line-height--narrow;
    padding: 0;
  }
}
.card__item_content {
  padding: space(1.5);
}
