{#
/**
 * This is strictly an exmaple file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}
<table>
  <caption>The table caption</caption>
	<thead>
		<tr>
			<th>This is a header cell</th>
			<th>Do not use colspan or rowspan because it leads to unexpected screen reader behavior.</th>
			<th>This is another header cell</th>
		</tr>
	</thead>
	<tbody>
  	<tr>
  		<td>Row 1</td>
  		<td>Information about something</td>
  		<td>And this is important</td>
  	</tr>
  	<tr>
      <td>Row 2</td>
  		<td>Information about something</td>
  		<td>And this is important</td>
  	</tr>
  	<tr>
      <td>Row 3</td>
  		<td>Information about something</td>
  		<td>And this is important</td>
  	</tr>
  	<tr>
      <td>Row 4</td>
  		<td>Information about something</td>
  		<td>And this is important</td>
  	</tr>
	</tbody>
	<tfoot>
		<tr>
			<td>This is a table footer</td>
			<td>This is a table footer</td>
			<td>This is a table footer</td>
		</tr>
	</tfoot>
</table>
