{#
/**
 * Available variables:
 * - meta__level - the tag used for the heading
 * - meta__base_class - the base classname
 * - meta__modifiers - array of modifiers to add to the base classname
 * - meta__content: array of content
 *
 */
#}
{% set meta__base_class = meta__base_class|default("meta") %}
{% set meta__modifiers = meta__modifiers|default([]) %}

<div
  {{ bem(meta__base_class, meta__modifiers, meta__blockname, meta__extra_classes) }}
>
  {% for item in meta__content %}
    {{ item }}

    {% if not loop.last %}
      <span {{ bem("separator", [], meta__base_class) }} aria-hidden="true">{{ meta__separator|default("-") }}</span>
    {% endif %}
  {% endfor %}
</div>
