.menu-footer {
  @include list-reset;
  @include bold-highlight($letter-spacing: $letter-spacing--wide);

  color: color(text-inverse);
  font-size: $font-size--small-3;
  text-transform: uppercase;

  @include above($width-medium) {
    columns: 2;
  }

  @include above($width-large) {
    columns: 1;
  }

  @include above($width-xxl) {
    columns: 2;
  }

  li {
    hyphens: auto;
    margin-bottom: space();
  }

  a {
    @include link(
      $color: color(text-inverse),
      $underline-color: color(text-inverse),
      $underline-width: -0.1rem
    );

    color: color(text-inverse);
    line-height: initial;

    &:hover {
      @include link--hover(
        $effect-color: color(text-inverse),
        $text-color: color(text)
      );
    }

    &:focus {
      @include focus($color: color(text-inverse));
    }
  }
}
