{#
/**
 * Available variables:
 * - liftup_compact__base_class - the base classname
 * - liftup_compact__modifiers - array of modifiers to add to the base classname
 * - liftup_compact__title - the liftup heading
 * - liftup_compact__title__level - the HTML heading tag level of the title element
 * - liftup_compact__content - the description of the liftup
 * - liftup_compact__link - the liftup link
 * - liftup_compact__link__text - the link text
 * - liftup_compact__image - the liftup image. Likely the image block will be used to print an image instead
 *
 * Available blocks:
 * - liftup_compact_image - used to replace the content of the liftup image
 */
#}
{% set liftup_compact__base_class = "liftup-compact" %}
{% set liftup_compact__modifiers = liftup_compact__modifiers|default([]) %}

<div {{ bem(liftup_compact__base_class, liftup_compact__modifiers) }}>
  <div {{ bem("content", [], liftup_compact__base_class) }}>
    {% include "@atoms/text/heading/heading.twig" with {
      heading: liftup_compact__title,
      heading__level: liftup_compact__title__level|default(3),
    } %}

    {% if liftup_compact__content %}
      {% include "@atoms/text/text-long/text-long.twig" with {
        text_long__content: liftup_compact__content,
      } %}
    {% endif %}

    {% if liftup_compact__link %}
      {% include "@atoms/links/link/link.twig" with {
        link__modifiers: ["action"],
        link__content: liftup_compact__link__text,
        link__url: liftup_compact__link,
      } %}
    {% endif %}
  </div>

  <div {{ bem("image", [], liftup_compact__base_class) }} aria-hidden="true">
    {% block liftup_compact_image %}
      {% if liftup_compact__image %}
        {% include "@atoms/images/image/image.twig" with liftup_compact__image %}
      {% endif %}
    {% endblock %}
  </div>
</div>
