{#
/**
 * Available variables:
 * - box_applications_item__base_class - the base classname
 * - box_applications_item__modifiers - array of modifiers to add to the base classname
 * - box_applications_item__title - the label of the application link
 * - box_applications_item__cta - the CTA link title
 * - box_applications_item__cta__url - the CTA link URL
 * - box_applications_item__details - a list of application details
 *   - detail.label - title of the application detail
 *   - detail.description - description of the application detail
 */
#}
{% set box_applications_item__base_class = box_applications_item__base_class|default("box-applications-item") %}
{% set box_applications_item__modifiers = box_applications_item__modifiers|default([]) %}
{% set box_applications_item__title_level = box_applications_item__title_level|default("3") %}

<div {{ bem(box_applications_item__base_class, box_applications_item__modifiers, box_applications_item__blockname) }}>
  {% if box_applications_item__title %}
    {% include "@atoms/text/heading/heading.twig" with {
      "heading": box_applications_item__title,
      "heading__level": box_applications_item__title_level,
      "heading__base_class": "title",
      "heading__blockname": box_applications_item__base_class,
    } %}
  {% endif %}

  {% for detail in box_applications_item__details %}
    <div {{ bem("detail", [], box_applications_item__base_class) }}>
      {% if detail.label %}
        {% include "@atoms/text/heading/heading.twig" with {
          "heading": detail.label ~ ":",
          "heading__level": box_applications_item__title_level + 1,
          "heading__base_class": "detail-label",
          "heading__blockname": box_applications_item__base_class,
        } %}
      {% endif %}

      {% if detail.description %}
        <span {{ bem("detail-description", [], box_applications_item__base_class) }}>
          {{ detail.description }}
        </span>
      {% endif %}
    </div>
  {% endfor %}

  {% if box_applications_item__cta %}
    {% include "@atoms/links/link-cta/link-cta.twig" with {
      link_cta__content: box_applications_item__cta,
      link_cta__url: box_applications_item__cta__url,
      link_cta__modifiers: box_applications_item__cta__modifiers,
    } %}
  {% endif %}
</div>
