.search-keyword {
  position: relative;

  input[type='text'] {
    max-width: none;
  }

  &__content {
    display: flex;
    width: 100%;
    z-index: 5;

    &[aria-hidden='true'] {
      display: none;
    }
  }

  &__open {
    @include bold-highlight;

    position: relative;
    font-size: $font-size--small-3;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: space(1/2);

    &::after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      right: 0;
      height: 3px;
      background-color: color(accent);
      opacity: 0;
      transform: translateY(4px);
      @include transition(
        transform opacity,
        0.2s,
        cubic-bezier(0.175, 0.885, 0.32, 1.275)
      );
    }

    &[aria-expanded='true'] {
      display: none;
    }

    &:hover,
    &:focus {
      text-decoration: none;

      &::after {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .icon--after {
      width: 1.5em;
      height: 1.5em;
    }
  }

  &__close {
    margin: 0 space();
    padding-right: space();
    padding-left: space();
  }

  &__search {
    order: 100;
  }
}
