.process-step {
  position: relative;
  margin-bottom: space(2);
  display: grid;
  grid-template-columns: space(4.75) auto;
  grid-template-areas:
    'number title'
    'number text'
    'number link';

  @include above($width-large) {
    grid-template-columns: space(5.75) auto;
    grid-template-areas:
      'number title link'
      'number text link';
    margin-bottom: space(3);
  }

  &:last-child {
    margin-bottom: 0;

    .process-step__line {
      display: none;
    }
  }

  &__item {
    display: flex;
    margin-bottom: space(1);

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: color(text);
      font-size: $font-size--small-2;
      font-weight: bold;
      letter-spacing: $letter-spacing--large;
      line-height: $line-height--narrow;
      text-decoration: underline;
      box-shadow: none;

      @include above($width-large) {
        font-size: $font-size--base;
      }
    }

    svg {
      width: space(1.5);
      height: space(1.5);
      min-width: space(1.5);
      margin-right: space(1.25);
    }

    &::marker {
      content: '';
    }

    .icon {
      top: space(0.13);
      position: relative;
    }
  }

  &__line {
    width: space(0.06);
    position: absolute;
    height: 100%;
    border: space(0.125) dashed color(border-primary);
    top: space(3);
    left: space(1.8);
  }

  &__text {
    color: color(text);
    font-size: $font-size--small-1;
    letter-spacing: $letter-spacing--large;
    line-height: $line-height--narrow;
    grid-area: text;

    @include above($width-large) {
      font-size: $font-size--base;
    }
  }

  &__link {
    margin-top: space(1.3);
  }

  &__link-list {
    padding: 0;
    grid-area: link;
    margin-bottom: 0;

    @include above($width-large) {
      width: $width--sidebar;
      margin-left: space(4);
    }
  }

  &__title {
    grid-area: title;
    margin-top: 0;
    margin-bottom: space();
    letter-spacing: $letter-spacing--none;

    @include above($width-large) {
      margin-top: space();
      margin-bottom: space(0.75);
    }
  }

  &__number {
    font-size: $font-size--large-4;
    font-weight: bold;
    letter-spacing: 0;
    line-height: space(2);
    height: space(3.7);
    width: space(3.7);
    min-width: space(3.7);
    border: 0.0625rem solid rgba(255, 255, 255, 0);
    border-radius: space(0.7);
    position: relative;
    display: flex;
    align-items: center;
    background: color(background-section-dark);
    justify-content: center;
    flex: space(4.4);
    grid-area: number;
    margin-bottom: space(1);
    z-index: 1;

    @include above($width-large) {
      margin-bottom: 0;
    }
  }

  &__inner {
    flex: 100%;
    grid-area: content;

    @include above($width-large) {
      padding-left: space(2);
      margin-right: space(2);
    }
  }
}
