.section-teaser {
  @include background-full-width($background: color(background-section-dark));

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: space(2) 0 0;
  margin-bottom: var(--space-elements);

  @include above($width-large) {
    flex-direction: row;
    padding: space(2);
  }

  .teaser {
    margin-bottom: space(2);

    @include above($width-large) {
      width: 50%;
    }
  }
}
