.text-teaser {
  margin-bottom: space(2);
  font-size: $font-size--large-2;

  @include above($width-medium) {
    margin-bottom: space(3);
    font-size: $font-size--large-3;
  }

  &--small {
    font-size: $font-size--small-1;
    margin-bottom: space();

    @include above($width-medium) {
      margin-bottom: space(2);
    }
  }
}
