{#
/**
 * Available variables:
 * - language_switcher__base_class - the base classname
 * - language_switcher__modifiers - array of modifiers to add to the base classname
 * - language_switcher__items - a list if link items
 *   - item.title - the link item title
 *   - item.url - the link item url
 */
#}
{% set language_switcher__base_class = "language-switcher" %}
{% set language_switcher__modifiers =  language_switcher__modifiers|default([])%}

{% embed "@atoms/lists/list-unordered.twig" with {
  list__base_class: language_switcher__base_class,
  list__modifiers: language_switcher__modifiers,
} %}
  {% block list_content %}
    {% for item in language_switcher__items %}
      {% embed "@atoms/lists/list-item.twig" with {
        list_item__base_class: "item",
        list_item__blockname: language_switcher__base_class,
      } %}
        {% block list_item_content %}
          {% if ("is-active" in item.modifiers) %}
            {% set link__content %}
              <span class="visually-hidden">{{ "Current language"|t }}: </span>
              {{ item.title }}
            {% endset %}
          {% else %}
            {% set link__content =  item.title %}
          {% endif %}

          {% include "@atoms/links/link/link.twig" with {
            link__url: item.url,
            link__baseclass: "link",
            link__blockname: language_switcher__base_class,
            link__modifiers: item.modifiers,
            link__attributes: item.attributes,
          } %}
        {% endblock %}
      {% endembed %}
    {% endfor %}
  {% endblock %}
{% endembed %}
