.text-long {
  margin-bottom: var(--space-elements);
  font-size: $font-size--base;

  p {
    @extend .paragraph;

    font-size: inherit;
  }

  ol,
  ul {
    display: inline-block;
    margin-top: 0;

    li {
      @extend .list-item;
    }
  }

  img {
    margin-bottom: space();
    @include above($width-large) {
      max-width: 50%;
      margin: space(2) auto;
    }
  }

  h2 {
    margin: space(2.5) 0 space(0.75);
  }

  h3 {
    margin: space(1.5) 0 space(0.5);
  }

  h4 {
    margin: space() 0 space(0.375);
  }
}
