@use 'sass:math';

.text-long {
  margin-bottom: space(2);

  p {
    @extend .paragraph;
  }

  ol,
  ul {
    display: inline-block;

    li {
      @extend .list-item;
    }
  }

  img {
    margin-bottom: space();
  }

  h2 {
    margin: space(math.div(5, 2)) 0 space(math.div(3, 4));
  }

  h3 {
    margin: space(math.div(3, 2)) 0 space(math.div(1, 2));
  }

  h4 {
    margin: space() 0 space(math.div(3, 8));
  }
}
