{#
/**
 * Available variables:
 * - text_long__base_class - the base classname
 * - text_long__modifiers - array of modifiers to add to the base classname
 * - text_long__content - the content of the long text
 *
 * Available blocks:
 * - text_long_content - used to replace the content of the component with something other than text
 *   for example: A long text field in Drupal
 */
#}
{% set text_long__base_class = text_long__base_class|default('text-long') %}
{% set text_long__modifiers = text_long__modifiers|default([]) %}

<div {{ bem(text_long__base_class, text_long__modifiers) }}>
  {% block text_long_content %}
    {{ text_long__content }}
  {% endblock %}
</div>
