@mixin image {
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: 18px;
}

img,
picture {
  @include image;
}

figure {
  margin: 0; /* override normalize */

  .figure__image {
    border-radius: 18px 18px 0 0;
  }
}
