.box-cta {
  margin-bottom: var(--space-elements);
  padding: space(2);
  font-weight: bold;
  color: color(text-inverse);
  background-color: color(primary);

  &__heading {
    margin-bottom: space();
    font-size: $font-size--large-2;
  }

  .field {
    margin: 0;
  }

  .link-cta {
    margin: space(1/2) 0;
  }

  .button {
    @extend .button--inverse;
  }
}
