{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% set count_results = rows|length %}

{% set section_content_summary__base_class = section_content_summary__base_class|default("section-content-summary") %}
{% set section_content_summary__modifiers = section_content_summary__modifiers|default([]) %}

<div {{ bem(section_content_summary__base_class, section_content_summary__modifiers, section_content_summary__blockname) }}>
  {% include "@atoms/text/heading/heading.twig" with {
    heading__level: 3,
    heading__base_class: "title",
    heading__blockname: content_summary__base_class,
    heading: title|striptags ~ '(' ~ count_results ~ ')',
  } %}

  {% set ptv_id = null %}
  {% set ptv_type = null %}

  {% for row in rows[:2] %}
    <div {{ bem("inner", [], section_content_summary__base_class) }}>
      {% if row.content['#row']._relationship_entities.field_services.field_ptv_id.value and ptv_id is null %}
        {% set ptv_id = row.content['#row']._relationship_entities.field_services.field_ptv_id.value %}
      {% endif %}
      {% if row.content['#row']._entity.field_service_channel_type[0].value and ptv_type is null %}
        {% set ptv_type = row.content['#row']._entity.field_service_channel_type[0].value %}
      {% endif %}

      {{- row.content -}}
    </div>
  {% endfor %}


  {% if rows|length > 2 %}
    <div {{ bem("read-more-link", [], content_summary__base_class) }}>
      {% include "@atoms/images/fontawesome-icon/fontawesome-icon.twig" with {
        fontawesome_icon__name: "arrow-right",
      } %}

      {% if ptv_type is not null %}
        {% set url = '/service-channels?service=' ~ ptv_id ~ '&type[' ~ ptv_type ~ ']=' ~ ptv_type %}
      {% else %}
        {% set url = '/service-channels?service=' ~ ptv_id %}
      {% endif %}

      {% include "@atoms/links/link/link.twig" with {
        link__content: 'See all'|t,
        link__url: url,
      } %}
    </div>
  {% endif %}
</div>
