// Fonts
$font-family--base: 'Lexend', sans-serif;
$font-family--heading: 'Lexend', sans-serif;
$font-family--accent: 'Lexend', sans-serif;

$font-size--large-5: 1.8rem; // 30px
$font-size--large-4: 1.7rem; // 26px
$font-size--large-3: 1.5rem; // 24px
$font-size--large-2: 1.25rem; // 20px
$font-size--large-1: 1.1875rem; // 19px
$font-size--base: 1.125rem; // 18px
$font-size--small-1: 1rem; // 16px
$font-size--small-2: 0.875rem; // 14px

$font-size--h1: 2.375rem;
$font-size--h1--small: 2.125rem;
$font-size--h2: 1.875rem;
$font-size--h2--small: 1.625rem;
$font-size--h3: 1.5rem;
$font-size--h3--small: 1.1875rem;
$font-size--h4: 1.25rem;
$font-size--h4--small: 1.125rem;
$font-size--h5: 1.125rem;
$font-size--h5--small: 1rem;
$font-size--h6: 0.875rem;
$font-size--h6--small: 0.875rem;

$letter-spacing--xs: -0.025em;
$letter-spacing--small: 0.01375em;
$letter-spacing--medium: 0.05em;
$letter-spacing--wide: 0.012em;
$letter-spacing--large: 0.016em;
$letter-spacing--none: 0;
$letter-spacing--large: 0.018em;

$line-height--heading-large: 2.375rem;
$line-height--heading-medium: 1.6875rem;
$line-height--heading: 1.875rem;
$line-height--base: 1.75rem;
$line-height--narrow: 1.5rem;
$line-height--small: 1.25rem;
$line-height--xs: 1rem;

// Borders
$border-width: 1.125rem;

$default-border-color: black;
$default-border-style: solid;
$default-border-width: 0.25rem;
