{#
/**
* @file
* Theme implementation to display site hero content
*
* Variables:
* - selection_box__meta: Meta information, e.g. node type and publication date
* - selection_box__title: Title (h1) text.
* - selection_box__image: Background image URL.
* - selection_box__lead_text: Copy text to show on the hero.
*
* @ingroup themeable
*/
#}
{% set selection_box__base_class = "selection_box" %}
{% set selection_box__modifiers = selection_box__modifiers|default([]) %}

<div {{ bem("wrapper", [], selection_box__base_class) }}>
  {% include "@atoms/text/heading/heading.twig" with {
    heading__level: 2,
    heading__base_class: "title",
    heading__blockname: selection_box__base_class,
    heading: selection_box__title,
  } %}

  {% include "@molecules/form-elements/text-element/text-element.twig" with {
    text_element__label: input__label,
    text_element__content: input__content,
    text_element__placeholder: input__placeholder,
    text_element__description: input__description,
  } %}

  <div {{ bem("inner", [], selection_box__base_class) }}>
    {% include "@atoms/text/heading/heading.twig" with {
      "heading": checkbox_list__title,
      "heading__level": "4",
      heading__base_class: "title",
      heading__blockname: checkbox_list__base_class,
    } %}

    {% for item in checkbox_list__items %}
      {% include "@molecules/form-elements/checkbox-element/checkbox-element.twig" with {
        checkbox_element__id: item.id,
        checkbox_element__label: item.label,
        checkbox_element__description: item.description,
      } %}
    {% endfor %}
  </div>
</div>
