@mixin link(
  $color: color(text),
  $underline-color: color(primary),
  $underline-width: -0.1875rem
) {
  @include transition(box-shadow color);

  // The box shadow spread is reduced by 0.1rem to workaround Chrome showing a slight
  // shadow on the y axis on some viewport widths.
  box-shadow: inset 0 #{$underline-width - 0.1rem} 0 -0.1rem $underline-color;
  color: $color;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    @include link--hover;
  }
}

@mixin link--hover(
  $effect-color: color(text),
  $text-color: color(text-inverse)
) {
  box-shadow: inset 0 -6ex 0 0 $effect-color;
  color: $text-color;
}

@mixin link-focus($width: $border-width) {
  box-shadow: inset 0 -0.1875rem 0 -0.1rem var(--color-primary);
  &:hover {
    box-shadow: inset 0 -6ex 0 0 var(--color-text);
  }
}

/*
 * Mixin - Link-reset
 * Reset the link style.
 */
@mixin link-reset() {
  box-shadow: none;
  color: currentColor;

  &:focus,
  &:hover {
    box-shadow: none;
    color: currentColor;
  }
}

/*
 * Mixin - Link-expand
 * Makes a link element expand and cover the whole parent wrapper area.
 */
@mixin link-expand {
  &::after {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}
