.cta {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: space(2);
  align-items: center;
  text-align: center;

  @include above($width-large) {
    align-items: start;
    text-align: left;
    flex-direction: row;
    max-width: 50%;
  }

  .link {
    color: black;
    box-shadow: none;
    order: 4;
    margin-top: space(0.75);
    position: unset;
    text-align: center;

    &:hover .fontawesome-icon {
      transform: translateX(50%);
    }

    svg {
      width: space(1.25);
      height: space(1.25);
      margin-right: 0;
      transition: transform 0.3s ease-in-out 0s;

      @include above($width-large) {
        width: space(1.5);
        height: space(1.5);
      }
    }

    .icon--before {
      margin-right: 0;
    }

    &::before {
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .cta__title {
    line-height: $line-height--heading;
    margin-bottom: space(0.5);
    font-weight: bold;
    letter-spacing: 0;

    @include above($width-large) {
      margin-bottom: space(0.75);
    }
  }

  &__text {
    text-align: center;
    font-size: $font-size--small-1;
    color: color(text);
    letter-spacing: $letter-spacing--large;
    line-height: 28px;
    margin-bottom: space(0.75);

    @include above($width-large) {
      text-align: start;
      margin-bottom: space();
    }
  }

  &__icon-wrapper {
    border-radius: 50%;
    background: color(background-section-dark);
    width: space(5.5);
    height: space(5.5);
    margin-bottom: space(1);
    order: 1;

    @include above($width-large) {
      margin-bottom: space(1.5);
    }
  }

  &__fontawesome-icon {
    width: space(5.5);
    height: space(5.5);
    padding: space(2);
  }

  &__inner {
    order: 2;

    @include above($width-large) {
      margin-left: space(1.5);
    }
  }
}
