.footer {
  font-size: $font-size--small-1;
  color: color(text-inverse);
  background: color(background-dark);

  &__inner {
    @include wrapper;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: space(2);
    padding-bottom: space(2);
  }
}
