$color-place-holder: $gray-light;

.place-holder {
  padding: 50px;
  border: 0.25rem dashed $color-place-holder;
  color: $color-place-holder;

  &__content {
    font-size: 3.2rem;
    line-height: 1.4;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
      font-size: inherit;
    }
  }
}
