.header-branding {
  display: block;
  max-width: 8rem;
  box-shadow: none;
  color: black;

  &:focus:hover {
    box-shadow: none;
    color: black;
  }

  &:hover {
    box-shadow: none;
    color: black;
  }

  svg {
    width: 100%;
    height: auto;
    display: block;
  }
}
