.section-cta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom:  var(--space-elements);

  @include above($width-medium) {
    flex-direction: row;
  }

  .cta {
    flex: 31%;
    margin-bottom: space(2);

    @include above($width-large) {
      margin-right: space(1.5);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
