.section-cta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom:  var(--space-elements);

  @include above($width-medium) {
    flex-direction: row;
  }

  .cta {
    flex: 33%;
    padding: 0 space(1);
  }
}
