.label {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  font-size: $font-size--small-1;

  &--error {
    color: color(text-error);
  }

  &--text {
    .form--search & {
      @extend .visually-hidden;
    }
  }

  &--checkbox,
  &--radio {
    display: flex;
    align-items: center;
    font-weight: 400;
    margin-bottom: 12px;

    &:focus,
    &:hover,
    input:focus + & {
      color: color(accent);
    }

    &:focus,
    input:focus + & {
      .label__checkbox--checkbox {
        outline: 1px solid;
        outline-offset: space(.25);
      }
    }

    input:checked + & {
      font-weight: 600;
    }
  }

  &__checkbox,
  &__radio {
    background-color: color(text-inverse);
    border: 0.125rem solid color(text);
    width: 1.2em;
    height: 1.2em;
    margin-right: space();

    @include transition(
      background-color,
      0.125s,
      cubic-bezier(0.19, 1, 0.22, 1)
    );

    .label:hover &,
    input:focus + .label &,
    input:checked:focus + .label > & {
      border-color: color(accent);
      box-shadow: inset 0 0 0 0.125rem color(accent);
    }

    input:checked + .label > &,
    input:checked + .label:hover > & {
      border-color: color(text);
      box-shadow: inset 0 0 0 0.125rem color(text);
      background-color: color(text);
    }

    .label--error & {
      border-color: color(text-error);
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border: 1px solid #111832;
    border-radius: 4px;
    background-color: color(background-section);

    svg {
      width: 100%;
      height: 100%;
      color: color(background-section);
    }
  }

  &__radio {
    border-radius: 50%;
  }
}
