@mixin box-summary-term {
  @include bold-highlight($letter-spacing: $letter-spacing--wide);

  margin: 0 0 space(1/2);
  font-size: $font-size--small-3;
  text-transform: uppercase;
  color: color(text);
}

@mixin box-summary-definition {
  margin: 0 0 space(2);
  font-family: $font-family--base;
  font-size: $font-size--small-1;
  font-weight: 500;
  color: color(text-meta);

  p {
    margin: 0;
  }
}

.box-summary {
  margin-bottom: var(--space-elements);
  padding: space(2) space(2) 0;
  font-size: $font-size--small-1;
  border: 1px solid color(border-box);
  background: color(background-box);

  > *:last-child {
    margin-bottom: space(2);
  }

  &__list-definition {
    margin: 0 0 space(2);

    .list-item-term {
      @include box-summary-term;
    }

    .list-item-defintion {
      @include box-summary-definition;
    }
  }

  &--wysiwyg {
    @include box-summary-definition;

    h2 {
      @include box-summary-term;

      margin-top: space(2);
      &:first-child {
        margin-top: 0;
      }
    }
  }

  a:not(.link-cta) {
    @include link;

    box-shadow: inset 0 -1px 0 0 currentColor;
  }
}
