{#
/**
 * Available variables:
 * - box_summary__base_class - the base classname
 * - box_summary__modifiers - array of modifiers to add to the base classname
 * - box_summary__items - a list of items
 *
 *
 * Available blocks:
 * - box_summary_content - the content of the box.
 */
#}
{% set box_summary__base_class = box_summary__base_class|default('box-summary') %}
{% set box_summary__modifiers = box_summary__modifiers|default([]) %}

<div {{ bem(box_summary__base_class, box_summary__modifiers) }}>
  {% block box_summary_content %}
    {% embed "@atoms/lists/list-definition.twig" with {
      list__blockname: box_summary__base_class
    } %}
        {% block list_content %}
          {% for item in box_summary__items %}
            {% if item.description %}
              {% include "@atoms/lists/list-item-definition.twig" with {
                list_item__term: item.title,
                list_item__definition: item.description,
              } %}
            {% endif %}
          {% endfor %}
      {% endblock %}
    {% endembed %}
  {% endblock %}

  {% if box_summary__cta %}
    {% include "@atoms/links/link-cta/link-cta.twig" with {
      link_cta__url: box_summary__cta__url,
      link_cta__content: box_summary__cta,
      link_cta__modifiers: ['inverse'],
    } %}
  {% endif %}
</div>
