.content-summary {
  display: flex;
  flex-wrap: wrap;
  border-radius: space(0.75);
  background-color: var(--color-background);
  padding: space(2);
  margin-bottom: space(1);
  flex-direction: column;

  @include above($width-large) {
    flex-direction: row;
  }

  &__text {
    font-family: 'Lexend', serif;
    font-size: $font-size--small-1;
    letter-spacing: $letter-spacing--large;
    line-height: $line-height--small;
    margin-top: space(.5);
  }

  &__link {
    .fontawesome-icon {
      width: space(0.75);
      height: space(0.75);
      top: 1px;
      position: relative;
    }
  }

  &__column {
    margin-bottom: space(2);

    @include above($width-large) {
      flex: 1;
      margin-right: space(2);
      margin-bottom: 0;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
      @include above($width-large) {
        margin-bottom: space(2);
      }
    }

    .title {
      font-family: 'Lexend', serif;
      font-size: $font-size--large-2;
      font-weight: bold;
      letter-spacing: $letter-spacing--none;
      line-height: $line-height--narrow;
      margin-bottom: space(1.5);
    }

    .heading {
      font-family: 'Lexend', serif;
      font-size: $font-size--small-1;
      font-weight: bold;
      letter-spacing: $letter-spacing--large;
      line-height: $line-height--narrow;
      margin-bottom: space(0.25);
      display: inline;
    }

    .link {
      font-family: 'Lexend', serif;
      font-size: $font-size--small-2;
      font-weight: bold;
      letter-spacing: $letter-spacing--large;
      line-height: $line-height--small;
    }
  }
  .link--enhanced {
    @include button-with-icon;

    padding: space(0.75) space();
    margin-top: space();

    &:hover {
      box-shadow: inset 0 -8ex 0 0 var(--color-text);
    }

    &__text {
      font-family: 'Lexend', serif;
      font-size: $font-size--small-1;
      font-weight: bold;
      letter-spacing: $letter-spacing--large;
      line-height: $line-height--small;
      text-align: center;
    }

    svg {
      margin-right: space();
      width: space(1.25);
      height: space(1.25);
      position: relative;
    }

    .fontawesome-icon--after {
      width: space(0.75);
      height: space(0.75);
      margin-left: space(0.75);
    }

    .link--external {
      svg {
        display: none;
      }
    }
  }
  p {
    font-size: $font-size--small-1;
    margin: 0;
  }
  .contact-card {
    .contact-card__title,
    .contact-card__text {
      font-size: $font-size--small-2;
    }
  }
}
