{#
/**
* @file
* Theme implementation to display site hero content
*
* Variables:
* - hero__meta: Meta information, e.g. node type and publication date
* - hero__title: Title (h1) text.
* - hero__subtitle: Subtitle text.
* - hero__image: Background image URL.
* - hero__lead_text: Copy text to show on the hero.
*
* @ingroup themeable
*/
#}
{% set hero__base_class = "hero" %}
{% set hero__modifiers = hero__modifiers|default([]) %}

<div {{ bem(hero__base_class, hero__modifiers) }}>
  <div {{ bem("inner", [], hero__base_class) }}>
    {% include "@atoms/text/heading/heading.twig" with {
      heading__level: 1,
      heading__base_class: "title",
      heading__blockname: hero__base_class,
      heading: hero__title,
    } %}
    {%  if hero__subtitle %}
      {% include "@atoms/text/heading/heading.twig" with {
        heading__base_class: "title",
        heading__blockname: hero__base_class,
        heading__modifiers: ['subheading'],
        heading: hero__subtitle,
      } %}
    {% endif %}

    {% if hero__lead_text %}
      {% include "@atoms/text/text-long/text-long.twig" with {
        text_long__content:  hero__lead_text,
      } %}
    {% endif %}
  </div>

  <div {{ bem("image", [], hero__base_class) }} aria-hidden="true">
    {% if with_image %}
      {% block hero_image %}
        {% include "@atoms/images/image/responsive-image.twig" with hero__image %}
      {% endblock %}
    {% endif %}
  </div>
</div>
