.hero {
  @include background-full-width($background: color(background-dark));

  position: relative;
  margin-bottom: var(--space-elements);
  padding: space(2) 0;

  .text-long {
    font-size: $font-size--large-2;
    line-height: $line-height--heading-large;
    margin-bottom: 0;
  }

  &__inner {
    z-index: 2;
    color: color(text-inverse);

    @include above($width-large) {
      margin-right: space(7.5);
      padding-top: space(1);
    }
  }

  &__image {
    width: 100%;
    height: 0;
    margin: space(2) auto 0;
    padding-bottom: 100%;
    position: relative;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      border-radius: 50%;
    }

    @include above($width-small) {
      width: 16rem;
      height: 16rem;
      padding-bottom: 0;
    }

    @include above($width-large) {
      width: 20rem;
      height: 20rem;
      margin: 0;
    }
  }

  &__title {
    color: color(text-inverse);
    margin-bottom: space(1.5);

    @include above($width-large) {
      margin-bottom: space(2);
    }
  }

  @include above($width-large) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: space(3.5) 0;
  }

  &--light {
    &::before {
      background: color(background-section);
    }

    .hero__inner,
    .hero__title {
      color: color(text);
    }
  }
}
