.tags-item {
  @include bold-highlight($letter-spacing: $letter-spacing--wide);

  display: inline-block;
  padding: 0;
  font-size: $font-size--small-4;
  text-transform: uppercase;
  color: color(text-meta);

  a {
    display: inline-block;
  }
}
