{#
/**
 * Available variables:
 * - tags_item__base_class - the base class name
 * - tags_item__blockname - blockname prepended to the base classname
 * - tags_item__content - the content of the tag (typically text)
 *   tags_item__url - the url this tag should poing to if it's a link
 */
#}
{% set tags_item__base_class = tags_item__base_class|default("tags-item") %}
{% set tags_item__modifiers = tags_item__modifiers|default([]) %}

{% if tags_item__url %}
  {% include "@atoms/links/link/link.twig" with {
    "link__content": tags_item__content,
    "link__url": tags_item__url,
    "link__modifiers": tags_item__modifiers,
    "link__base_class": tags_item__base_class,
    "link__blockname": tags_item__blockname,
  } %}
{% else %}
  <div {{ bem(tags_item__base_class, tags_item__modifiers, tags_item__blockname) }}>
    {{- tags_item__content -}}
  </div>
{% endif %}
