.section-process-steps {
  @include background-full-width($background: var(--color-background-section));

  padding: space(2) 0;
  position: relative;
  margin-bottom: var(--space-elements);
  display: flex;
  flex-wrap: wrap;
  @include above($width-medium) {
    padding: space(3);
  }

  .process-steps {
    display: flex;
    flex-wrap: wrap;
  }

  .heading {
    margin-bottom: space(4);
    font-weight: bold;
    letter-spacing: -$letter-spacing--large;
    line-height: $line-height--heading;
    flex: 100%;
  }
}
