.section-process-steps {
  @include background-full-width($background: var(--color-background-section));

  position: relative;
  margin-bottom: var(--space-elements);
  display: flex;
  flex-wrap: wrap;
  padding: space(2) 0;

  &--sidebar {
    &::before {
      content: none;
    }
  }

  @include above($width-large) {
    padding: space(4) 0;
  }

  .process-steps {
    display: flex;
    flex-wrap: wrap;
  }

  .heading {
    margin-bottom: space(1.5);
    font-weight: bold;
    letter-spacing: -$letter-spacing--large;
    line-height: $line-height--heading;
    flex: 100%;

    @include above($width-large) {
      margin-bottom: space(2);
    }
  }
}
