.section-process-steps {
  padding: space(2) 0;
  position: relative;
  margin-bottom: var(--space-elements);
  display: flex;
  flex-wrap: wrap;
  @include above($width-medium) {
    padding: space(3);
  }

  &:before {
    content: "";
    width: calc(88rem + 22rem);
    max-width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    background: var(--color-background-section);
  }

  .process-steps {
    display: flex;
    flex-wrap: wrap;
  }

  .heading {
    margin-bottom: space(4);
    font-weight: bold;
    letter-spacing: -$letter-spacing--large;
    line-height: $line-height--heading;
    flex: 100%;
  }
}
