{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}

{% set cards = [] %}
{% set title = 'Opening Hours'|t %}
{% set default_title = true %}
{% set title_changed = false %}
{% set without_title = false %}

{% for item in items %}

	{% set first = item.content['#item'].getValue.first %}
	{% set second = item.content['#item'].getValue.second %}

  {% if second is null and items|length > 1 %}
    {% set title = first %}
    {% set title_changed = true %}
    {% set without_title = false %}
  {% else %}

    {% set data = {
        "info_title": without_title ? null : title,
        "text" : first,
        "text2" : second,
        "icon": "clock",
      }
    %}

    {% if title_changed or default_title %}
      {% set without_title = true %}
    {% else %}
      {% set without_title = false %}
      {% set title_changed = false %}
    {% endif %}

    {% set cards = cards|merge([data]) %}

  {% endif %}

{% endfor %}

<div class="contact-card_service-hours">
{% include "@molecules/contact-card/contact-card.twig" with {
  section_contact_cards__modifiers: process_step_modifiers,
  contact_card__title: 'Service Hours'|t,
  contact_card__items: cards,
} %}
</div>

