.input {
  width: 100%;
  max-width: space(19);
  padding: 0.6em;
  padding-left: 1.5rem;
  background-color: color(background);
  border: 1px solid color(text);
  border-radius: space(0.75);
  font-size: $font-size--large-2;
  letter-spacing: $letter-spacing--medium;
  line-height: $line-height--heading-medium;
  margin: 1px;

  &:focus {
    @include focus;

    background-color: color(background);
    border-color: color(accent);
    outline: none;
    border: 2px solid var(--color-text);
    font-weight: bold;
    margin: 0;
  }

  &::placeholder {
    color: color(text);
    font-weight: 300;
  }

  &.disabled {
    border-bottom-color: $gray;
  }

  &--submit {
    @include button-base;

    &:focus {
      color: color(text);
      outline-offset: 3px;
    }

    display: block;
  }

  &--minimal {
    border: 0;
    font-size: $font-size--large-3;
    background-color: transparent;

    &:focus {
      background-color: transparent;
      border-color: color(accent);
    }
  }

  &--error {
    background-color: color(error);

    &::placeholder {
      color: color(text);
    }
  }

  .form--search &,
  .form--keyword & {
    max-width: none;
  }

  .form--search & {
    &--submit {
      width: auto;
    }

    &:not(.input--submit) {
      padding: 0.9em 1em;
      border: 0.0625rem solid color(border-primary);
      background-color: color(background);
    }
  }
}
