.section-contact-cards {
  position: relative;

  h2 {
    font-size: $font-size--large-4;
    font-weight: bold;
    letter-spacing: $letter-spacing--none;
    line-height: $line-height--heading;
  }

  .contact-card {
    margin-bottom: space(3);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--vertical {
    padding: var(--space-elements) 0;

    img {
      width: 400px;
      border-radius: 16px;
    }

    .section-contact-cards__wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      @include above($width-medium) {
        flex-direction: row;
      }

      .contact-card {
        @include above($width-large) {
          flex: 33%;
        }
      }

      .section-contact-cards__inner {
        &:last-child {
          display: flex;
          justify-content: center;
        }

        @include above($width-medium) {
          flex: 50%;
        }

        @include above($width-large) {
          flex: 33%;
        }
      }

      .section-contact-cards__map {

        @include above($width-large) {
          flex: 33%;
        }
      }
    }

    &:before {
      content: '';
      width: calc(88rem + 22rem);
      max-width: 100vw;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      transform: translateX(-50%);
      background: var(--color-background-section);
    }

    h2 {
      flex: 100%;
      margin-bottom: space(1.5);

      @include above($width-large) {
        margin-bottom: space(2);
      }
    }

    .contact-card {
      flex: auto;
    }
  }
}

.collapsible.contact-card {
  p {
    margin-bottom: space();
  }
}
