{#
/**
 * Available variables:
 * - section_contact_cards__base_class - the base classname
 * - section_contact_cards__modifiers - array of modifiers to add to the base classname
 * - section_contact_cards__blockname - a class that will prepend all other classes
 *
 * Available blocks:
 * - section_contact_cards_item - the content of the section item.
 */
#}
{% set section_contact_cards__base_class = section_contact_cards__base_class|default("section-contact-cards") %}
{% set section_contact_cards__modifiers = section_contact_cards__modifiers|default([]) %}

<div {{ bem(section_contact_cards__base_class, section_contact_cards__modifiers, section_contact_cards__blockname) }}>
  {% if section_contact_cards__title %}
    {% include "@atoms/text/heading/heading.twig" with {
      heading__level: 2,
      heading__base_class: "title",
      heading__blockname: contact__base_class,
      heading: section_contact_cards__title,
    } %}
  {% endif %}

  <div {{ bem("wrapper", [], section_contact_cards__base_class ) }}  >
    {% for item in section_contact_cards__items %}
      {% include "@molecules/contact-card/contact-card.twig" with {
        section_contact_cards__modifiers: process_step_modifiers,
        contact_card__title: item.title,
        contact_card__items: item.contact__items,
        contact_card__link_url: item.link_url,
        contact_card__link_text: item.link_text,
      } %}
    {% endfor %}

    <div {{ bem("map", [], section_contact_cards__base_class ) }}  >
      {% include "@atoms/images/image/responsive-image.twig" with {
        image_src: contact_card__image__src,
        responsive_image__blockname: contact_card__base_class,
      } %}
    </div>
  </div>
</div>
