.section-contact-cards {
  position: relative;
  h2 {
    font-size: $font-size--large-4;
    font-weight: bold;
    letter-spacing: -0.4px;
    line-height: 38px;
  }

  .contact-card {
    margin-bottom: space(3);
    &:last-child {
      margin-bottom: 0;
    }
  }

  &--vertical {
    background: color(background-section);
    padding: space(5) space(10);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    h2 {
      flex: 100%;
    }
    
    .contact-card {
      flex: auto;
    }
  }
}
