.accordion-item {
  border-top: space(0.125) solid;

  &:last-child {
    border-bottom: space(0.125) solid;
  }

  &--warning {
    color: color(text-error);

    .heading {
      color: color(text-error);
      display: inline-block;
    }

    .accordion-item__content {
      color: color(text);
    }

    .accordion-item__warning-accordion-heading {
      display: flex;

      .fontawesome-icon {
        flex: 0 0 auto;
        width: space(1.25);
        height: space(1.25);
        top: space(0.125);
        position: relative;
        margin-right: space(1.25);
      }
    }
  }

  &--white {
    background: color(background);
    border-top: none;
    border-radius: space(.75);
    margin-bottom: space(1);

    &:last-child {
      border-bottom: none;
    }
  }

  &--within {
    margin-bottom: 0;
  }

  &__heading {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0;
    padding: space(0.75) 0;
    font-size: $font-size--large-2;
    font-family: $font-family--accent;
    font-weight: bold;
    letter-spacing: 0;
    line-height: $line-height--heading;

    .accordion-item--white & {
      margin: 0 space(1.5);
    }

    .fontawesome-icon {
      width: 1.5em;
      height: 1.5em;
    }

    .accordion-item--within & {
      margin: 0;
    }

    .heading {
      font-size: $font-size--large-1 !important;
      margin: 0 !important;

      .accordion-item--white & {
        font-size: $font-size--small-1 !important;
      }
    }

    &::marker {
      display: none;
    }
  }

  &__content {
    word-break: break-word;

    .accordion-item--white & {
      margin: 0 space(1.5);
      padding: space(0.75) 0;
    }

    .accordion-item--within & {
      margin: 0;
    }

    p:first-child {
      margin-top: 0;
    }

    .text-long {
      margin-bottom: 0;
      font-size: inherit;
    }
  }

  &[open] {
    .accordion-item__heading {
      .fontawesome-icon {
        transform: rotate(180deg);
      }
    }

    .accordion-item__warning-accordion-heading {
      .fontawesome-icon {
        transform: none;
      }
    }
  }
}
