.accordion-item {
  border-top: space(0.125) solid;

  &:last-child {
    border-bottom: space(0.125) solid;
  }

  &--aside {
    border-top: none;

    .accordion-item__aside-accordion-heading {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      .accordion-item__index,
      .fontawesome-icon {
        flex: 0 0 auto;
        width: space(1.25);
        height: space(1.25);
        top: space(0.125);
        position: relative;
        margin-right: space(1);
        background: color(background-section-dark);
        padding: space(0.5);
        border-radius: space(0.625);
        line-height: 1.25rem;
        text-align: center;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &--warning {
    color: color(text-error);

    .heading {
      color: color(text-error);
      display: inline-block;
    }

    .accordion-item__content {
      color: color(text);
    }

    .accordion-item__warning-accordion-heading {
      display: flex;

      .fontawesome-icon {
        flex: 0 0 auto;
        width: space(1.25);
        height: space(1.25);
        top: space(0.125);
        position: relative;
        margin-right: space(1.25);
      }
    }
  }

  &--white {
    background: color(background);
    border-top: none;
    border-radius: space(0.75);
    margin-bottom: space(1);

    &:last-child {
      border-bottom: none;
    }
  }

  &--within {
    margin-bottom: 0;
  }

  &__heading {
    justify-content: space-between;
    display: flex;
    gap: $space;
    align-items: center;
    margin: 0;
    padding: space(0.75) 0;
    font-size: $font-size--large-2;
    font-family: $font-family--accent;
    font-weight: bold;
    letter-spacing: 0;
    line-height: $line-height--heading;

    .accordion-item--aside:first-child & {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        background: color(background);
        top: 0;
        height: 50%;
        width: 100%;
        z-index: -1;
      }
    }

    .accordion-item--aside:last-child:not([open]) & {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        background: color(background);
        bottom: 0;
        height: 50%;
        width: 100%;
        z-index: -1;
      }
    }

    .accordion-item--white & {
      margin: 0 space(1.5);
    }

    .fontawesome-icon {
      flex: 0 0 auto;
      width: 1.5em;
      height: 1.5em;
    }

    .accordion-item--within & {
      margin: 0;
    }

    .heading {
      font-size: $font-size--large-1 !important;
      margin: 0 !important;

      .accordion-item--aside & {
        font-size: $font-size--base !important;
      }

      .accordion-item--white & {
        font-size: $font-size--small-1 !important;
      }
    }

    &::marker {
      display: none;
    }
  }

  &__content {
    margin-bottom: space(1);
    word-break: break-word;

    .list-links {
      margin-bottom: 0;

      .list-links__item:last-child {
        margin-bottom: 0;

        .link--icon {
          margin-bottom: 0;
        }
      }
    }

    .accordion-item--aside & {
      background: color(background-section);
      padding: space(1);
      border-radius: space(1);
      margin-top: space(0.25);
      font-size: $font-size--small-2;
      line-height: $line-height--small;

      p {
        font-size: $font-size--small-2;
        line-height: $line-height--small;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .list-links {
        margin-top: $space;

        &:first-child {
          margin-top: 0;
        }
      }
    }
    .accordion-item--white & {
      margin: 0 space(1.5);
      padding: space(0.75) 0;
    }

    .accordion-item--within & {
      margin: 0;
    }

    p:first-child {
      margin-top: 0;
    }

    .text-long {
      margin-bottom: 0;
      font-size: inherit;
    }
  }

  &[open] {
    .accordion-item__heading {
      .fontawesome-icon {
        transform: rotate(180deg);
      }
    }

    .accordion-item__aside-accordion-heading {
      .fontawesome-icon {
        transform: none;
      }
    }

    .accordion-item__warning-accordion-heading {
      .fontawesome-icon {
        transform: none;
      }
    }
  }
}
