{# @todo Add missing comments about expected variables. #}

{% set accordion__base_class = accordion__base_class|default('accordion') %}
{% set accordion__modifiers = accordion__modifiers|default([]) %}

<div {{ bem(accordion__base_class, accordion__modifiers) }}>
  {% if accordion__heading %}
    {% include '@atoms/text/heading/heading.twig' with {
      heading__level: accordion__heading_level|default('2'),
      heading: accordion__heading,
      heading__blockname: accordion__base_class,
    } %}
  {% endif %}

  {% block accordion_content %}
    {% for item in accordion__items %}
      {% include '@molecules/accordion/accordion-item.twig' with {
        accordion__summary: item.accordion__summary,
        accordion__content: item.accordion__content,
        accordion_item__modifiers: accordion__modifiers
      } %}
    {% endfor %}
  {% endblock %}
</div>
