.accordion {
  margin: var(--space-elements) 0;

  &--content-start {
    margin-top: 0;
  }

  &--aside {
    position: relative;
  }

  &--within {
    margin: 0;
  }

  .heading {
    margin: 0 0 space(1.5);
    font-size: $font-size--large-3;

    @include above($width-medium) {
      margin: 0 0 space(2);
      font-size: $font-size--large-5;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.accordion__details-container {
  .accordion--aside & {
    position: relative;

    &::before {
      content: "";
      width: space(0.125);
      position: absolute;
      background-image: linear-gradient(to bottom, color(border-primary) 33%, rgba(255, 255, 255, 0) 0%);
      background-position: top left;
      background-size: space(0.125) space(0.375);
      background-repeat: repeat-y;
      top: 0;
      bottom: 0;
      left: space(1.05);
      z-index: -1;
    }
  }
}

.page-content--full-width .accordion {
  @include above($width-large) {
    max-width: calc(100% - #{$width--sidebar});

    &--within {
      max-width: 100%;
    }
  }
}
