@use 'sass:math';

.status__list {
  @include list-reset;

  margin-bottom: space();
}

.status {
  display: block;
  margin-bottom: space(math.div(1, 2));
  padding: space(math.div(1, 2));
  text-align: center;

  &--warning {
    color: color(primary);
    background-color: color(status-warning);
  }

  &--error {
    color: color(text-error);
    background-color: color(status-error);
  }

  &--status {
    background-color: color(status-message);
  }
}
