.status {
  @include wrapper($margin: 0 auto space(2));

  display: block;
  text-align: center;

  &__list {
    @include list-reset;

    margin-bottom: space();
  }

  &--warning {
    color: color(primary);
    background-color: color(status-warning);
  }

  &--error {
    color: color(text-error);
    background-color: color(status-error);
  }

  &--status {
    background-color: color(status-message);
  }
}
