.box-links {
  margin: var(--space-elements) 0;

  .button {
    @include button-with-icon;

    svg {
      margin-right: space();
      width: space(1.25);
      height: space(1.25);
      position: relative;
    }

    .fontawesome-icon--after {
      width: space(.75);
      height: space(.75);
      margin-left: space(.75);
    }
  }

  a {
    font-size: $font-size--base;
  }

  .text-long {
    margin-bottom: space(2);
  }

  &__heading,
  .heading {
    font-size: $font-size--large-4;
    font-weight: bold;
    letter-spacing: 0;
    line-height: $line-height--heading;
    margin-bottom: space(1.5);

    @include above($width-large) {
      margin-bottom: space(2);
    }
  }

  &__box-links {
    margin: 0;
    padding: 0;

    .link {
      @include link-focus;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin-bottom: space(2);
  }

  &__item {
    padding: 0;
    margin-bottom: space(0.75);

    @include above($width-large) {
      margin-bottom: space();
    }

    .fontawesome-icon {
      margin-right: space();
      width: space();
      height: space();

      @include above($width-large) {
        margin-right: space(1.25);
        width: space(1.25);
        height: space(1.25);
      }
    }

    &::marker {
      content: '';
    }
  }

  &__attachment-links {
    padding: 0;
    margin: 0;

    a {
      @include link-focus;
    }
  }
}
