{#
/**
 * Available variables:
 * - box_links__base_class - the base classname
 * - box_links__modifiers - array of modifiers to add to the base classname
 * - box_links__title - the block title
 * - box_links__description - the content of the long text
 * - box_links__links - a list of links
 *
 * Available blocks:
 * - box_links_list - renders a list of links by default
 */
#}
{% set box_links__base_class = box_links__base_class|default('box-links') %}
{% set box_links__modifiers = box_links__modifiers|default([]) %}

<div {{ bem(box_links__base_class, box_links__modifiers) }}>
  {% if box_links__title %}
    {% include "@atoms/text/heading/heading.twig" with {
      "heading": box_links__title,
      "heading__level": box_links__title_level|default('2'),
      "heading__blockname": box_links__base_class,
    } %}
  {% endif %}

  {% if box_links__description %}
    {% include "@atoms/text/text-long/text-long.twig" with {
      "text_long__content": box_links__description,
    } %}
  {% endif %}

  {% block box_links_list %}
    {% if box_links__links %}
      {% include "@molecules/list-links/list-links.twig" %}
    {% endif %}
  {% endblock %}
</div>
