.box-links {
  margin: var(--space-elements) 0;

  ul .box-links {
    margin: 0;
  }

  &::after {
    clear: both;
    content: '';
    display: table;
  }

  .button {
    @include button-with-icon;

    svg {
      margin-right: space();
      width: space(1.25);
      height: space(1.25);
      position: relative;
    }

    .fontawesome-icon--after {
      width: space(0.75);
      height: space(0.75);
      margin-left: space(0.75);
    }
  }

  a {
    font-size: $font-size--base;
    box-shadow: none;
  }

  .text-long {
    margin-bottom: space(2);
  }

  &__heading,
  .heading {
    font-size: $font-size--large-4;
    font-weight: bold;
    letter-spacing: 0;
    line-height: $line-height--heading;
    margin-bottom: space(1.5);

    @include above($width-large) {
      margin-bottom: space(2);
    }
  }

  &__box-links {
    margin: 0;
    padding: 0;

    .link,
    a {
      @include link-focus;
      box-shadow: none;

      &:hover {
        box-shadow: inset 0 10em 0 0 var(--color-text);
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin-bottom: space(1);
  }

  &__item {
    padding: 0;
    margin-bottom: space(0.75);
    display: flex;
    text-decoration: underline;
    box-shadow: none;

    @include above($width-large) {
      margin-bottom: space();
    }

    .fontawesome-icon {
      margin-right: space();
      width: space();
      height: space();
      min-width: space();
      display: flex;
      align-self: center;
      position: relative;

      @include above($width-large) {
        width: space(1.25);
        height: space(1.25);
        min-width: space(1.25);
      }
    }

    &::marker {
      content: '';
    }
  }

  &__attachment-links {
    padding: 0;
    margin: 0;

    a {
      @include link-focus;
      box-shadow: none;
      span {
        padding-left: 0;
      }
    }
  }
}
