.box-links {
  @include border;

  margin: 0 0 var(--space-elements);
  padding: space(2);
  padding-bottom: space();

  @include above($width-small) {
    padding: space(3);
    padding-bottom: space(2);
  }

  &__heading {
    @include h2;
  }

  .text-long {
    margin-bottom: space(2);
  }

  .list-links {
    margin: 0;
  }
}
