@use 'sass:math';

.list-item {
  margin-bottom: space(math.div(1, 5));
  padding-left: space(math.div(1, 2));
}
.list-unordered {
  list-style-type: disc;
}
.text-long {
  li {
    list-style-type: disc;
  }
}
