@use 'sass:math';

.anchor-menu {
  margin: var(--space-elements) 0;

  .link {
    width: fit-content;
    display: flex;
    align-items: center;
    box-shadow: none;
    font-size: $font-size--large-2;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 30px;
    color: color(text);

    .fontawesome-icon {
      width: 1.25em;
      height: 1.25em;
      margin-right: space(1);

      @include above($width-large) {
        margin-right: space(1.5);
      }
    }

    &:hover {
      @include link--hover;
    }
  }

  &__menu {
    @include list-reset;
  }

  &__item {
    margin-bottom: space(1);
    padding: 0;
    font-weight: bold;
    letter-spacing: $letter-spacing--none;
    font-size: $font-size--large-2;
    line-height: $line-height--base;

    @include above($width-large) {
      margin-bottom: space(1.5);
    }
  }
}
