.anchor-menu {
  margin-bottom: var(--space-elements);
  padding: space() 0;
  border: 1px solid color(border-primary);
  border-left: none;
  border-right: none;

  .link {
    width: fit-content;
    display: flex;
    align-items: center;
    box-shadow: none;

    .icon {
      margin-right: space(1/2);
    }

    &:hover {
      @include link--hover;
    }
  }

  &__menu {
    @include list-reset;
  }

  &__menu-item {
    margin-bottom: space(1/2);
    padding: 0;
    font-weight: bold;
    letter-spacing: $letter-spacing--medium;
  }
}
