@use 'sass:math';

.link {
  @include link;
  box-shadow: inset 0 -0.1875rem 0 -0.1rem;
  position: relative;

  .fontawesome-icon {
    &--before {
      margin-right: space();
    }

    &--after {
      margin-left: space(math.div(1, 2));
    }

    &--external-link {
      width: 0.75rem;
      height: 0.75rem;
      margin-left: space(math.div(1, 4));
    }
  }

  &__suffix {
    @include transition;

    display: inline-flex;
    align-items: center;
    margin-left: auto; // Used when link is `display: flex`.
    padding-left: space();
    flex-shrink: 0;
    font-weight: 700;
    font-size: $font-size--small-3;
    text-transform: uppercase;
    color: color(text);
  }

  &--minimal {
    cursor: pointer;
    box-shadow: none;
    border-radius: 11px;
    line-height: 1.4;
    padding: 0.67rem 1rem;
    width: fit-content;
    border-color: var(--color-background-dark);
    display: inline-flex;
    align-items: center;
    font-family: "Lexend", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0;
    background-color: transparent;
    color: color(text);
    text-decoration: underline;
    border: 2px solid;

    &:hover,
    &:focus {
      background-color: transparent;
      color: color(text);
      border-color: black;
      box-shadow: 0 0 2px var(--color-text);
    }
    &:focus:hover {
      box-shadow: 0 0 2px var(--color-text);
    }
  }

  &--icon {
    @include bold-highlight;

    align-items: center;
    display: flex;
    margin-bottom: space(math.div(1, 3));
    padding-top: space(math.div(1, 3));
    padding-bottom: space(math.div(1, 3));
    font-size: $font-size--small-1;
    box-shadow: none;
  }

  &--action {
    @include bold-highlight($letter-spacing: $letter-spacing--wide);

    display: inline-flex;
    align-items: center;
    padding-bottom: space(math.div(1, 4));
    padding-top: space(math.div(1, 4));
    font-size: $font-size--small-2;
    text-transform: uppercase;
    box-shadow: none;
    border-bottom: 0.1875rem solid color(border-primary);

    .fontawesome-icon {
      @include transition(transform);

      width: 1.5em;
      height: 1.5em;
    }

    &:hover {
      padding-right: calc(#{space(math.div(1, 4))} + 0.75em);

      .fontawesome-icon {
        transform: translateX(50%);
      }
    }
  }

  &--back-to-top {
    width: max-content;
    position: sticky;
    bottom: space(5);
    right: space();
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    font-size: $font-size--small-2;
    font-weight: bold;
    letter-spacing: $letter-spacing--small;
    background: rgba(255, 255, 255, 0.75);
    z-index: 2;

    &.js-show {
      display: flex;
    }

    .fontawesome-icon {
      @include transition(transform);

      order: -1;
      width: 3.2em;
      height: 3.2em;
      margin: auto;
      padding: 0.75em;
      border-radius: 50%;
      color: color(text-inverse);
      background: color(text);
    }

    &:hover {
      .fontawesome-icon {
        transform: translateY(-50%);
      }
    }
  }

  &--inverse {
    @include bold-highlight($letter-spacing: $letter-spacing--wide);

    background-color: color(background-inverse);
    color: color(text-inverse);
    padding: space(math.div(1, 2)) space(math.div(3, 4));
    font-size: $font-size--small-2;
    text-transform: uppercase;
    box-shadow: none;
    margin: 0;
    @include transition(
      background-color,
      0.35s,
      cubic-bezier(0.19, 1, 0.22, 1)
    );

    .fontawesome-icon--before {
      margin-right: space(math.div(3, 4));
    }

    .fontawesome-icon--after {
      margin-left: auto;
      box-sizing: content-box; // Do not allow padding to reduce the default content box size.
      padding-left: space(
        math.div(1, 2)
      ); // margin is set to `auto` so we use padding instead.
    }

    @include above($width-large) {
      padding: space(math.div(3, 4)) space(1);
    }

    &:hover,
    &:focus {
      background-color: color(background);
      color: color(text);
      box-shadow: inset 0 0 0 0.1875rem color(text);
      outline: 0;
    }
  }

  &--active {
    background-color: color(accent);
    color: color(text-inverse);

    &:hover,
    &:focus {
      background-color: color(accent);
      color: color(text-inverse);
      box-shadow: inset 0 0 0 0.1875rem color(text);
    }
  }

  &--quick {
    @include bold-highlight($letter-spacing: $letter-spacing--wide);

    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: color(background-inverse);
    color: color(text-inverse);
    padding: space(math.div(3, 4)) space(1 + math.div(1, 2));
    font-size: $font-size--small-2;
    text-transform: uppercase;
    box-shadow: none;

    @include above($width-large) {
      padding: space(1 + math.div(3, 4)) space(2);
    }

    .fontawesome-icon {
      @include transition(transform);

      flex: 0 0 2rem;
      width: 2rem;
      height: 1.5rem;

      &--external-link {
        width: 0.5rem;
        height: 0.5rem;
      }
    }

    &:hover,
    &:focus {
      box-shadow: none;

      .icon {
        transform: translateX(50%);

        &--external-link {
          transform: translate(50%, -50%);
        }
      }
    }

    &:focus {
      background-color: color(accent);
    }
  }

  &--tab {
    @include bold-highlight();
    @include link-reset;
    @include transition;

    background-color: color(background-section);
    border: 0.0625rem solid color(primary);
    border-bottom: none;
    color: color(text);
    display: block;
    padding: space() space(2);
    text-align: center;
    text-decoration: none;

    @include above($width-small) {
      border-bottom: $border-width solid color(primary);
      border-left: none;
      display: inline-block;
      font-size: $font-size--small-1;
      padding: space(math.div(1, 2)) space(math.div(3, 2));
      position: relative;
      top: 0.0625rem;
      width: auto;

      &:first-child {
        border-left: 0.0625rem solid color(primary);
      }
    }

    &.is-active {
      background-color: color(background);
      color: color(text);
    }

    &:hover {
      background-color: color(primary);
      color: color(text-inverse);
    }
  }

  &--attachment-compact {
    display: inline-flex;
    align-items: center;

    .link__suffix {
      margin-left: 0;
      padding-left: space(math.div(1, 4));
    }
  }

  &:hover {
    .link__suffix {
      color: color(text-inverse);
    }
  }

  &--external--text {
    .fas {
      margin-left: 0.5rem;
    }
  }
}
