{#
/**
 * Available variables:
 * - image_wysiwyg__base_class - the base classname
 * - image_wysiwyg__modifiers - array of modifiers to add to the base classname
 * - image_wysiwyg__content - the markup of the image. Use either this or image_wysiwyg__src
 * - image_wysiwyg__src - the source of the image
 *
 * Available blocks:
 * - image_wysiwyg_content - used to replace the content of the component with a rendered image field
 */
#}
{% set image_wysiwyg__base_class = image_wysiwyg__base_class|default('image-wysiwyg') %}
{% set image_wysiwyg__modifiers = image_wysiwyg__modifiers|default([]) %}

<div {{ bem(image_wysiwyg__base_class, image_wysiwyg__modifiers) }}>
  {% block image_wysiwyg_content %}
    {% if image_wysiwyg__content %}
      {{ image_wysiwyg__content }}
    {% else %}
      {% include "@atoms/images/image/image.twig" with {
        image_src: image_wysiwyg__src,
      } %}
    {% endif %}
  {% endblock %}
</div>
