.header {
  @include wrapper;

  &__main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: space(2) 0;
    z-index: z-index(middle);
  }

  &__item {
    &--language-switcher {
      margin-left: auto;
      margin-right: 0;
      padding-left: space();
    }
  }
}
