// Color variables - it is better to use the colors in
// components/00-base/01-colors/_01-colors-used.scss rather than
// these colors directly.

// Grayscale
$white: white;
$gray-white: #f1f5f8;
$gray-light: #e2e8ed;
$gray: #b8c7c5;
$gray-dark: #dfd7d4;
$black: black;

// Project
$orange: #d44404;
$yellow: #f3c300;
$mint: #b2dbd6;
$beige: #ebe6d3;

// Status
$yellow-light: #f9e180;
$red-light: #fad7d9;
$green-light: #dfebd9;
$red-dark: #a24046;
$green-dark: #46613a;
