{#
/**
 * Available variables:
 * - tags__base_class - the base class name
 * - tags__modifiers - array of modifiers to add to the base classname
 * - tags__blockname - blockname prepended to the base classname
 * - tags__items - array containing single tag items
 *   - content - the content of the tag (typically text)
 *   - url - the url this tag should poing to if it's a link
 *
 * Available blocks:
 * - tags_content - used to replace the content of the tag
 */
#}
{% set tags__base_class = tags__base_class|default('tags') %}
{% set tags__modifiers = tags__modifiers|default([]) %}

<div {{ bem(tags__base_class, tags__modifiers, tags__blockname) }}>
  {% include "@atoms/images/icon/icon.twig" with {
    icon__name: "tag",
    icon__decorative: true,
  } %}

  {% include "@atoms/visually-hidden/visually-hidden.twig" with {
    visually_hidden__content: "Tags:"|t,
  } %}

  {% block tags_content %}
    {% for tag in tags__items %}
      {% include "@molecules/tags/tags-item.twig" with {
        tags_item__url: tag.url,
        tags_item__content: tag.content,
        tags_item__modifiers: tag.modifiers,
      } %}
    {% endfor %}
  {% endblock %}
</div>
