.tags {
  margin-bottom: var(--space-elements);

  .icon {
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    margin-right: space(1/2);
  }

  .tags-item {
    display: inline-block;
    margin-right: space(1/4);

    &:not(a):not(:last-of-type) {
      &::after {
        content: ', ';
      }
    }
  }
}
