.menu-switcher {
  display: flex;
  margin-right: space();
  padding: space();
  padding-left: space(1/3);
  appearance: none;
  border: 0;
  background: none;
  color: currentColor;
  z-index: z-index(base, +2);

  &:focus-within {
    @include focus;
  }

  &__hamburger {
    display: block;
    height: space(3/2);
    width: space(1 + 3/4);
    margin-right: space();

    @include above($width-large) {
      width: space(2 + 1/3);
    }
  }

  &__hamburger-layer {
    @include transition;

    display: block;
    width: 100%;
    height: 0;
    margin: 0.3em 0;
    border-top: 0.125rem solid currentColor;

    @include above($width-large) {
      border-top-width: 0.25rem;
    }

    &--1 {
      transform-origin: 0 0;
    }

    &--2 {
      width: 75%;
    }

    &--3 {
      transform-origin: 0 100%;
      width: 50%;
    }
  }

  &[aria-expanded='true'] {
    .menu-switcher__hamburger-layer {
      width: 75%;

      &:nth-child(2) {
        transition: none;
        opacity: 0;
      }

      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}
