{#
/**
 * Available variables:
 * - section_cards__base_class - the base classname
 * - section_cards__modifiers - array of modifiers to add to the base classname
 * - section_cards__blockname - a class that will prepend all other classes
 * - section_cards__title - the section title
 * - section_cards__link_title - the section read more link title
 * - section_cards__link_url - the section read more link url
 *
 * Available blocks:
 * - section_cards_items - wraps the section items.
 */
#}
{% set section_cards__base_class = section_cards__base_class|default('section-cards') %}
{% set section_cards__modifiers = section_cards__modifiers|default([]) %}

<div {{ bem(section_cards__base_class, section_cards__modifiers) }}>
  {% if section_cards__title %}
    {% include '@atoms/text/heading/heading.twig' with {
      heading: section_cards__title,
      heading__level: section_cards__title_level|default('2'),
    } %}
  {% endif %}

  {% if section_cards__link__title and section_cards__link__url %}
    <div {{ bem('link-with-icon', [], section_cards__base_class) }}>
      {% include '@atoms/images/icon/icon.twig' with {
        icon__name: section_cards__link_icon,
        icon__base_class: 'icon',
      } %}
      {% include '@atoms/links/link/link.twig' with {
        link__content: section_cards__link__title,
        link__url: section_cards__link,
      } %}
    </div>
  {% endif %}

  <div {{ bem('items', [], section_cards__base_class) }}>
    {% block section_cards_items %}
      {% for item in section_cards__items %}
        {% block section_cards_item %}
          {% if item.placeholder %}
            {% include '@molecules/cards/card/card.twig' with {
              card__modifiers: card_modifiers,
              card__image__src: item.image__src,
              card__heading: item.heading,
              card__link__url: item.link__url,
              card__link_text: item.link__text,
              card__type: item.type,
              card__items: item.card__items,
            } %}
          {% else %}
            {{ item }}
          {% endif %}
        {% endblock %}
      {% endfor %}
    {% endblock %}
  </div>
</div>
