.section-cards {
  .heading {
    margin-bottom: space(1.5);
    letter-spacing: -0.4px;
    line-height: 38px;
  }

  .card__image {
    width: 100%;
  }

  .section-cards__link-with-icon {
    margin: 0 0 space(4.75);
    font-size: $font-size--base;
    font-weight: bold;
    letter-spacing: 0.25px;
    line-height: 27px;
    .icon {
      margin-right: 20px;
      position: relative;
      top: 3px;
    }
  }

  @include above($width-large) {
    grid-template-columns: auto auto;
  }

  > .link {
    justify-self: center;

    @include above($width-large) {
      grid-row-start: 1;
      grid-column-start: 2;
      justify-self: end;
    }
  }

  &__items {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    grid-gap: 24px;
  }

  &--large {
    .section-cards__items {
      column-gap: $grid-gutter-width;
      row-gap: space(2);
      grid-template-columns: 1fr;

      @include above($width-large) {
        column-gap: space(6);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
      }
    }

    .section-cards-item {
      &:first-of-type {
        grid-row: span 4;
      }

      &:nth-of-type(n + 2) {
        .card {
          @include above($width-large) {
            grid-template-columns: 8.75rem 1fr;
          }
        }
      }
    }
  }

  &--contact-persons {
    .section-cards__items {
      @include above($width-small) {
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
      }
    }
  }
}
