{#
/**
* @file
* Theme implementation to display site hero content
*
* Variables:
* - hero__meta: Meta information, e.g. node type and publication date
* - hero__title: Title (h1) text.
* - hero__image: Background image URL.
* - hero__lead_text: Copy text to show on the hero.
*
* @ingroup themeable
*/
#}
{% set teaser__base_class = "teaser" %}
{% set teaser__modifiers = teaser__modifiers|default([]) %}

<div {{ bem(teaser__base_class, teaser__modifiers) }}>

  <div {{ bem("bg", [], teaser__base_class) }} aria-hidden="true">
    {% block teaser_image %}
      {% include "@atoms/images/image/responsive-image.twig" with teaser__image %}
    {% endblock %}
  </div>
  <div {{ bem("inner", [], teaser__base_class) }}>

    {% include "@atoms/text/text-long/text-long.twig" with {
      text_long__base_class: "text",
      text_long__content:  teaser__lead_text,
      text_long__blockname: teaser__base_class,
    } %}

  {% include "@atoms/text/heading/heading.twig" with {
    heading__level: 4,
    heading__base_class: "title",
    heading__blockname: teaser__base_class,
    heading: teaser__title,
  } %}

  </div>
</div>
