{# Set classes #}
{% set menu_social__base_class = menu_social__base_class|default('social-menu') %}
{% set menu_social__modifiers = menu_social__modifiers|default([]) %}
{% set list__base_class = menu_social__base_class %}
{% set list__modifiers = menu_modifiers %}
{% set list__blockname = menu_blockname %}

{# List #}

<div {{ bem(menu_social__base_class, menu_social__modifiers) }}>
  {% include "@atoms/text/heading/heading.twig" with {
    heading: "Follow us in social media"|t,
    heading__level: 4,
  } %}
  {% embed "@atoms/lists/list-unordered.twig" %}
    {% block list_content %}
      {% for item in menu_social__items %}
        {% include "@molecules/navigation/menu-social/_menu-social-item.twig" %}
      {% endfor %}
    {% endblock %}
  {% endembed %}
</div>
