.blockquote {
  background-color: color(background-section);
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
  padding: 2rem;
  position: relative;

  @include above($width-medium) {
    float: left;
    margin-left: 0;
    width: 60%;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
