{#
/**
 * Available variables:
 * - section_related_content__base_class - the base class name
 * - section_related_content__modifiers - array of modifiers to add to the base classname
 * - section_related_content__items - array containing single related content items
 * - section_related_content__cta - the section CTA title
 * - section_related_content__cta__url - section CTA url
 *
 * Available blocks:
 * - section_related_content_items - wraps all section related items
 */
#}

{% set section_related_content__base_class = section_related_content__base_class|default("section-related-content") %}
{% set section_related_content__modifiers = section_related_content__modifiers|default([]) %}

<div {{ bem(section_related_content__base_class, section_related_content__modifiers) }}>
  {% if section_related_content__title %}
    {% include "@atoms/text/heading/heading.twig" with {
      "heading": section_related_content__title,
      "heading__level": section_related_content__title_level|default("2"),
      "heading__modifiers": ["title-label"],
    } %}
  {% endif %}

  <div {{ bem("items", [], section_related_content__base_class) }}>
    {% block section_related_content_items %}
      {% for item in section_related_content__items %}
        <div {{ bem("item", [], section_related_content__base_class) }}>
          {% if item.is_card %}
            {% include "@molecules/cards/card/card.twig" with {
              card__modifiers: item.modifiers,
              card__image__src: item.image__src,
              card__heading: item.heading,
              card__link__url: item.link__url,
              card__type: item.type,
              card__category: item.category,
              card__date: item.date,
              card__tag: item.tag,
              card__meta_primary: item.meta_primary,
            } %}
          {% else %}
            {{ item }}
          {% endif %}
        </div>
      {% endfor %}
    {% endblock %}
  </div>

  {% if section_related_content__cta %}
    {% include "@atoms/links/link/link.twig" with {
      link__content: section_related_content__cta,
      link__url: section_related_content__cta__url,
      link__modifiers: ["action"],
    } %}
  {% endif %}
</div>
