@use 'sass:math';

.meta {
  @include bold-highlight($letter-spacing: $letter-spacing--wide);

  font-size: $font-size--small-3;
  text-transform: uppercase;
  color: color(text-meta);

  & > * {
    display: inline-block;
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }

  &--light,
  &--dark {
    padding: space(math.div(1, 4)) space();

    @include above($width-medium) {
      padding: space(math.div(1, 2)) space();
    }

    .meta__separator {
      padding: 0 space(math.div(1, 3));
    }
  }

  &--light {
    color: color(text);
    background: color(background-section);
  }

  &--dark {
    color: color(text-inverse);
    background: color(background-inverse);
  }
}
