.icon-grid-item {
  position: relative;
  display: flex;

  &__icon {
    width: 32px;
    height: 32px;
    margin-right: 20px;
  }

  &__title {
    @include h5;

    margin: 0;
  }

  &__inner {
    font-size: $font-size--small-1;
    letter-spacing: 0;
    line-height: $line-height--narrow;
  }
}
