.cta {
  position: relative;
  display: flex;
  flex-direction: column;
  .link {
    color: black;
    box-shadow: none;
    order: 4;
    align-self: center;
    margin-top: 12px;
    .icon--before {
      margin-right: 0;
    }
    &::before {
      position: absolute;
      top: 0;
    }
  }
  .cta__title {
    text-align: center;
    order: 2;
    line-height: 33px;
    margin-bottom: 16px;
    margin-top: 34px;
  }
  .cta__icon {
    order: 1;
    align-self: center;
    background-color: #F4E4DD;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    padding: 35px;
  }
  .text {
    text-align: center;
    order: 3;
    font-size: 16px;
  }
}
