.section-content-summary {
  position: relative;
  padding: space(2) 0;

  .heading {
    margin-bottom: space(2);
    text-transform: uppercase;
  }

  .read-more-link {
    font-size: $font-size--small-2;
    font-weight: bold;
    letter-spacing: $letter-spacing--large;
    line-height: $line-height--narrow;
    box-shadow: none;
    border-radius: space(.75);
    background-color: color(background);
    padding: space();

    .fontawesome-icon {
      width: space();
      height: space();
      margin-right: space(.75);
      position: relative;
      top: 3px;
    }
  }

  .content-summary {
    margin-bottom: space(2);
  }

  &::before {
    content: "";
    width: calc(88rem + 22rem);
    max-width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    background: var(--color-background-section);
  }

  &__inner {
    border-radius: space(.75);
    background-color: color(background);
    padding: space(2);
    margin-bottom: space();
  }
}
